app-header{
    position: fixed;
    z-index: 5;
}

@font-face {
    font-family: poppinsbold;
    src: url('../../../assets/Poppins/Poppins-Bold.ttf');
}

.box{
    width: 60vw;
    height: 80vh;
    background-color: rgb(197, 192, 192);
    display: flex;
    flex-direction: column;
    align-items: center;


    &__add{
        width: 100%;
        height: 100%;
        padding-top: 3vh;
        font-family: poppins;
        color: rgb(32, 32, 33);
        display: flex;


        &__form{
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 5%;

            &__genre{
                height: 7vh;
                margin-bottom: 12%;
                margin-top: -5%;

                &__inputs{
                    display: flex;
                    width: 88%;
                    flex-wrap: wrap;
                    margin-top: -4%;
                    margin-left: -1%;
                }
            }
            &__title, &__img{
                height: 7vh;
                margin-bottom: 5%;

                &__text{
                    margin: 0;
                }

                &__input{
                    width: 80%;
                    height: 5vh;
                    margin: 0;
                    font-family: poppinsbold;
                    font-size: 100%;
                    color: rgb(1, 153, 255);
                    border-radius: 10px;

                    &:focus{
                        border: 2px solid rgb(1, 153, 255);
                        outline: none;
                        
                    }
                }

            }

            &__time{
                width: 80%;
                display: flex;
                height: 7vh;
                margin-bottom: 5%;
                justify-content: space-between;

                &__duration, &__date{

                    width: 48%;

                    &__text{
                        margin: 0;
                    }
    
                    &__input{
                        width: 100%;
                        height: 5vh;
                        font-family: poppinsbold;
                        font-size: 100%;
                        color: rgb(1, 153, 255);
                        border-radius: 10px;
    
                        &:focus{
                            border: 2px solid rgb(1, 153, 255);
                            outline: none;
                            
                        }
                    }

                }
            }

            &__sinopse{
                height: 20vh;
                margin-bottom: 5%;

                &__text{
                    margin: 0;
                }

                &__input{
                    width: 80%;
                    height: 18vh;
                    font-family: poppinsbold;
                    font-size: 100%;
                    color: rgb(1, 153, 255);
                    border-radius: 10px;
                    margin-bottom: -1.5%;

                    &:focus{
                        border: 2px solid rgb(1, 153, 255);
                        outline: none;
                        
                    }
                }
            }

            &__dropdown{
                width: 80%;
                display: flex;
                margin-bottom: 6%;
                justify-content: space-between;
                height: 7vh;

                &__aval, &__saga{
                    &__text{
                        margin: 0;
                    }
    
                    &__select{
                        width: 100%;
                        height: 80%;
                        font-family: poppinsbold;
                        font-size: 100%;
                        color: rgb(1, 153, 255);
                        border-radius: 10px;
    
                        &:focus{
                            border: 2px solid rgb(1, 153, 255);
                            outline: none;
                            
                        }
                    } 
                }

                &__aval{
                    width: 33%;
                } 
                
                &__saga{
                    width: 65%;
                }
            }

            &__btn{
                width: 40%;
                height: 4vh;
                margin-left: 80%;
                border-radius: 50px;
                font-size: 100%;
                font-family: poppinsbold;
                color: white;
                background-color: rgb(1, 153, 255);
                border: solid 2px rgb(32, 32, 33);
                transition: all ease 0.2s;
                margin-top: -2%;

                &:hover{
                    transform: scale(1.07);
                    cursor: pointer;
                }
            }



        }

        &__img{
            width: 50%;
            height: 90%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            &__photo{
                max-width: 28%;
                max-height: 60%;
                border: 2px solid rgb(1, 153, 255);
                border-radius: 10px;
                position: absolute;
                z-index: 5;
            }

            &__not{
                height: 10%;
                border-radius: 10px;
                position: relative;
                z-index: 1;
            }

        }
    }

}

input::placeholder, textarea::placeholder{
    font-family: poppins;
    font-size: 80%;
    font-style: oblique;
    color: rgb(145, 145, 142);
}

.mensage__error{
    color: red;
    font-size: 75%;
    margin: 0;
}

input.ng-touched.ng-valid, select.ng-touched.ng-valid, textarea.ng-touched.ng-valid{
    border: solid 2px green;
    height: none;

    &:focus{
        border: 2px solid rgb(1, 153, 255);
        outline: none;
        
    }
}

input.ng-touched.ng-invalid, select.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid{
    border: solid 2px red;
    height: none;

    &:focus{
        border: 2px solid rgb(1, 153, 255);
        outline: none;
        
    }
}




